@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;1,300;1,400;1,700&display=swap');

:root {
    --primary: #b57edc;
    --bg: #010101;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-image: url(..);
    background-color: #1b1e23 ;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #f9f6f2;
    border-bottom: 1,7px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 31;
}

.navbar .navbar-logo {
    font-size: 2.5rem;
    font-weight: 700;
    color: #010101;
    font-style: italic;
}

.navbar .navbar-logo span {
    color: var(--primary);
}

.navbar .navbar-nav a{
    color: #010101;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.gallery h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: var(--primary);
  padding-top: 15rem;
}

.gallery p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 500;
  line-height: 1.6;
}


.gallery .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
  padding-top: 10rem;
  padding: 2rem;
}

.gallery .row .gallery-card {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 10rem;
}

.gallery .row .gallery-card img {
  border-radius: 50px;
  width: 50%;
  height: 30;
}